<!--
Team CYES
Samantha Ngo, Carol Pan, Eugene Thomas, Yuyang Zhang
SoftDev1 pd7
P01 -- ArRESTed Development
2017-11-16
-->
<!DOCTYPE html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<html>
  <head>
    <title>Home</title>
  </head>
  
  <body>
    
<div class="jumbotron text-center">
  <h1>Cloudy With a Chance of Skeeballs</h1>

 
<center>
<form>
  <div class="form-group">
    <label for="name">Please enter your name</label>
    <input type="name" class="form-control" id="name">
  </div>
</form>

<hr>

<form>
  <div class="form-group">
    <label for="zipcode">Please enter your zipcode</label>
    <input type="zipcode" class="form-control" id="zipcode">
  </div>
</form>

<hr>

<label for="zipcode">Please enter your age group</label>
<br>
<button type="button" class="btn btn-warning btn-lg">Student</button>
 <button type="button" class="btn btn-warning btn-lg">Adult</button>

 <hr>

 <label for="zipcode">Please indicate where you want to be</label>
<br>
<button type="button" class="btn btn-warning btn-lg">Indoors</button>
 <button type="button" class="btn btn-warning btn-lg">Outdoors</button>

  </body>
</html>
