<!--
Team CYES
Samantha Ngo, Carol Pan, Eugene Thomas, Yuyang Zhang
SoftDev1 pd7
P01 -- ArRESTed Development
2017-11-16
-->
<!DOCTYPE html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<html>
  <head>
    <title>Home</title>
  </head>
  
  <body>
    
<div class="jumbotron text-center" style = "background-color: #8ab2e2">
  <h1 style = "color: #f7af07">Cloudy With a Chance of Skeeballs</h1>

 
<center>
<form>
  <div class="form-group">
    <label for="name">Please enter your name</label>
    <input type="name" class="form-control" id="name" style = "width: 50%; background-color: #bad2ef" placeholder = "Name">
  </div>
</form>

<hr>

<form>
  <div class="form-group">
    <label for="zipcode">Please enter your zipcode</label>
    <input type="zipcode" class="form-control" id="zipcode" style = "width: 50%; background-color: #bad2ef" placeholder = "Zipcode">
  </div>
  
</form>

<hr>

<label for="zipcode">Please enter your age group</label>
<br>

<div class="btn-group" data-toggle="buttons">
      <label class="btn btn-warning btn-lg">
        <input type="radio" name="age_group" id="student"> Student
      </label>
      <label class="btn btn-warning btn-lg">
        <input type="radio" name="age_group" id="adult"> Adult
      </label>
</div>
 <hr>

 <label for="zipcode">Please indicate where you want to be</label>
<br>
<div class="btn-group" data-toggle="buttons">
       <label class="btn btn-warning btn-lg">
        <input type="radio" name="location" id="indoors">  Indoors
      </label>
      <label class="btn btn-warning btn-lg">
        <input type="radio" name="location" id="outdoors"> Outdoors
      </label>
</div>

<hr>
<label for="disclaimer">Have you saved your API keys yet?</label>
<br>
 <label class="btn btn-warning btn-lg">
        <input type="radio" name="api" id="api"> Show me!
      </label>
  </body>
</html>
