<!DOCTYPE html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<html>
   

  <head>
    <title>ERROR</title>
    <link rel="stylesheet" type="text/css" href="static/edge.css">
  </head>
  

  <body>
    <nav class="navbar navbar-inverse" style = "background-color: black;">
  <div class="container-fluid">
    <div class="navbar-header ">
      <h1 style = "color: red">Cloudy With a Chance of Skeeballs</h1>
      <h2 style = "color: red">ERROR</h2>
    </div>
  </div>
</nav>

    
  <div class="jumbotron" >     
  <div class="container text-center">
 <h1> 
	{% set msgs = get_flashed_messages() %} 
	{% for message in msgs %} 
		Message: {{message}} 
	{% endfor %}
</h1>
  </div>
  <img src= "/static/sad_sun.png">
  
    <center>
    <a href="/" class="btn btn-warning btn-lg" role="button" style="background-color:#ffa260;border-color:#ff7200">Return Home</a>
    </center>
    
    </div>


  </body>
</html>
